<div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
  <ul>
    <li class="active">
      <%= link_to "アカウント", "/users/account" %>
    </li>
    <li>
      <%= link_to "プロフィール", "/users/profile" %>
    </li>
  </ul>
</div>